node_modules
dist
public
out
.eslintcache
.stylelintcache
.vscode
dist
node_modules
package-lock.json
scripts
src/utils/*.js
*.js
public
build
static
project.config.json
project.private.config.json
.stylelintrc.js
src/assets/animate.css
